$blue_light: #00afef;
$blue_intermediate: #1d5a82;
$blue_dark: #262642;
$pink_light: #ec268f;
$red_light: #e02023;
$orange_light: #f5821f;
$orange_dark: #db751b;

$fz_xs: 0.8125rem;
$fz_sm: 0.9375rem;
$fz_df: 1rem;
$fz_lg: 1.25rem;
$fz_xl: 2rem;
